In [1]:
import pandas as pd

In [3]:
df_movies = pd.read_csv('IMDb_movies.csv', low_memory=False)
df_ratings = pd.read_csv('IMDb_ratings.csv')

In [4]:
#select columns
df_movies = df_movies[['imdb_title_id', 'title', 'year', 'genre', 'country']]

df_ratings = df_ratings[['imdb_title_id', 'total_votes', 'mean_vote']]

In [6]:
df_movies.head(3)

,imdb_title_id,title,year,genre,country
0,tt0000009,Miss Jerry,1894,Romance,USA
1,tt0000574,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",Australia
2,tt0001892,Den sorte drøm,1911,Drama,"Germany, Denmark"

In [7]:
df_ratings.head(3)

  imdb_title_id  total_votes  mean_vote
0     tt0000009          154        5.9
1     tt0000574          589        6.3
2     tt0001892          188        6.0

In [9]:
#Merge dataframes (inner join by default)
df_movies_merged = pd.merge(df_movies, df_ratings, on='imdb_title_id', how='inner')

In [11]:
df_movies_merged.head(3)

,imdb_title_id,title,year,genre,country,total_votes,mean_vote
0,tt0000009,Miss Jerry,1894,Romance,USA,154,5.9
1,tt0000574,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",Australia,589,6.3
2,tt0001892,Den sorte drøm,1911,Drama,"Germany, Denmark",188,6.0